.world-image {
    position: relative;

    & > img {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.alphabet {
    margin-top: 4px;
    font-size: 8px;

    @include pull-right;

    & > a {
        color: #fff;
    }
}
