html {
  min-width: 1000px;
}
body {
  background: url('../img/background-artwork.jpg') no-repeat top center #051122;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  overflow-y: scroll;
  font-size: 13px;
}
#skeleton {
  margin: 161px auto 20px;
  max-width: 1200px;
  min-width: 1000px;
  display: block;
  clear: both;
}
#skeleton .column {
  position: relative;
  display: block;
  height: 500px;
}
#skeleton .column#left-column {
  margin: 0 15px;
  width: 180px;
  float: left;
}
#skeleton .column#middle-column {
  margin: 0 210px;
}
#skeleton .column#right-column {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 15px;
  width: 180px;
  float: right;
}
#left-column {
  position: relative;
}
#left-column #logo-artwork {
  background: url('../img/tibia-logo-artwork-top.gif');
  position: absolute;
  display: block;
  height: 158px;
  width: 196px;
  top: -158px;
  left: -10px;
  z-index: 5;
}
#left-column .box {
  margin: 7px 8px 34px;
  position: relative;
  width: 164px;
}
#left-column .box:before {
  content: url('../img/box-top.gif');
  position: absolute;
  height: 12px;
  width: 180px;
  top: -13px;
  left: -8px;
  z-index: 4;
}
#left-column .box:after {
  content: url('../img/box-bottom.gif');
  position: absolute;
  bottom: -11px;
  height: 12px;
  width: 180px;
  right: -8px;
  z-index: 4;
}
#left-column .box .inner-box {
  background: url('../img/loginbox-textfield-background.gif') repeat top left;
  display: inline-block;
  position: relative;
  margin: 0 0 0 1px;
  width: 162px;
}
#left-column .box .inner-box:before {
  background: url('../img/chain.gif') repeat;
  position: absolute;
  content: '';
  z-index: 2;
  width: 7px;
  left: -4px;
  top: -4px;
  bottom: 0;
}
#left-column .box .inner-box:after {
  background: url('../img/chain.gif') repeat;
  position: absolute;
  content: '';
  z-index: 2;
  right: -4px;
  width: 7px;
  top: -4px;
  bottom: 0;
}
#left-column .box#login-box .medium-button {
  background: url('../img/medium-button.gif') no-repeat top left;
  text-align: center;
  margin: 1px auto 0;
  line-height: 37px;
  display: block;
  height: 37px;
  width: 150px;
}
#left-column .box#login-box .medium-button:hover {
  background-position-y: -37px;
}
#left-column .box#login-box .create-account {
  background: url('../img/loginbox-font-create-account.gif') no-repeat top left;
  margin: 2px auto 1px;
  display: block;
  height: 11px;
  width: 124px;
}
#left-column .box#login-box .create-account:hover {
  background-position-y: -11px;
}
#left-column .box#navigation .inner-box {
  background: #0d2e2b;
  list-style: none;
  color: #fff;
  padding: 0;
}
#left-column .box#navigation .inner-box .navigation-item {
  margin: 0 0 0 -1px;
  padding: 0;
}
#left-column .box#navigation .inner-box .navigation-item.open .navigation-content {
  display: block;
}
#left-column .box#navigation .inner-box .navigation-item.open .navigation-button .crystals.top {
  display: none;
}
#left-column .box#navigation .inner-box .navigation-item.open .navigation-button .crystals.bottom:before {
  display: none;
}
#left-column .box#navigation .inner-box .navigation-item.open .navigation-button .crystals.bottom:after {
  content: url('../img/minus.gif');
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button {
  background: url('../img/button-background.gif') no-repeat top left;
  position: relative;
  cursor: pointer;
  margin: 0 -3px;
  outline: none;
  border: none;
  height: 32px;
  width: 170px;
  padding: 0;
  z-index: 3;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button:before,
#left-column .box#navigation .inner-box .navigation-item .navigation-button:after {
  content: " ";
  display: table;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button:after {
  clear: both;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button:hover {
  background-position-y: -32px;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button .icon {
  margin-left: 8px;
  display: block;
  float: left;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button .label {
  margin-left: 2px;
  margin-top: 6px;
  display: block;
  float: left;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button .crystals {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button .crystals.top:before {
  content: url('../img/green-light.gif');
  position: absolute;
  left: 3px;
  top: -9px;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button .crystals.top:after {
  content: url('../img/green-light.gif');
  position: absolute;
  right: 3px;
  top: -9px;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button .crystals.bottom:before {
  content: url('../img/green-light.gif');
  position: absolute;
  bottom: -1px;
  left: 3px;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-button .crystals.bottom:after {
  content: url('../img/plus.gif');
  position: absolute;
  bottom: -3px;
  right: -2px;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content {
  display: none;
  padding: 0;
  margin: 0;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content > ul > li {
  padding: 0;
  margin: 0;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content > ul > li.active {
  position: relative;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content > ul > li.active:before {
  content: url('../img/icon-activesubmenu.gif');
  position: absolute;
  height: 10px;
  width: 10px;
  left: 5px;
  top: 2px;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content > ul > li.active > a {
  color: #fff;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content > ul > li > a {
  border-bottom: 1px solid #4b7874;
  font-family: Arial, sans-serif;
  padding: 2px 0 2px 17px;
  text-decoration: none;
  font-weight: bold;
  line-height: 16px;
  margin-left: 1px;
  font-size: 13px;
  display: block;
  color: #d7d7d7;
}
#left-column .box#navigation .inner-box .navigation-item .navigation-content > ul > li > a:hover {
  background-color: #14433f;
  color: #fff;
}
#middle-column {
  position: relative;
  padding-top: 5px;
}
#middle-column .box {
  background: url('../img/scroll.gif') repeat top left;
  border-right: 2px solid #3a3738;
  border-left: 2px solid #3a3738;
  position: relative;
  margin: 0 0 34px;
}
#middle-column .box:before {
  background: url('../img/border-1.gif') repeat-x top left;
  position: absolute;
  height: 6px;
  content: '';
  right: -2px;
  left: -2px;
  top: -6px;
}
#middle-column .box:after {
  background: url('../img/border-1.gif') repeat-x top left;
  position: absolute;
  bottom: -6px;
  height: 6px;
  content: '';
  right: -2px;
  left: -2px;
}
#middle-column .box .corners {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
}
#middle-column .box .corners.top {
  top: 0;
}
#middle-column .box .corners.top:before {
  content: url('../img/corner-tl.gif');
  position: absolute;
  height: 17px;
  width: 17px;
  left: -5px;
  top: -10px;
}
#middle-column .box .corners.top:after {
  content: url('../img/corner-tr.gif');
  position: absolute;
  height: 17px;
  width: 17px;
  right: -5px;
  top: -10px;
}
#middle-column .box .corners.bottom {
  bottom: 0;
}
#middle-column .box .corners.bottom:before {
  content: url('../img/corner-bl.gif');
  position: absolute;
  bottom: -10px;
  height: 17px;
  width: 17px;
  left: -5px;
}
#middle-column .box .corners.bottom:after {
  content: url('../img/corner-br.gif');
  position: absolute;
  bottom: -10px;
  height: 17px;
  width: 17px;
  right: -5px;
}
#middle-column .box .header {
  background: url('../img/title-background-green.gif') repeat-x top left;
  overflow: hidden;
  display: block;
  height: 24px;
}
#middle-column .box .header .headline {
  margin-left: 5px;
  display: block;
}
#middle-column .box .inner-box-border {
  border: 4px solid #debb9d;
}
#middle-column .box .inner-box-border .inner-box {
  border: 1px solid #793d03;
  padding: 5px;
}

/*# sourceMappingURL=tibia.css.map */