.account-login #middle-column {
	.buttons-right {
		margin-right: 2px;
		float: right;
	}

	.information {
		padding-bottom: 4px;
		font-size: 16px;

		.buttons-right {
			margin-top: 19px;
		}

		.indent {
			margin: 0 0 0 10px;
		}
	}
}

.account-create #middle-column {
	label[for="male"] {
		display: inline-block;
		margin-right: 60px;
	}

	p {
		margin: 5px 0;
	}

	button.blue-button {
		margin: 0 auto;
	}
}
