/**
 * The following styles were written with the subsequent route in mind,
 * although are not necessarily limited to it.
 *
 * @route  /library/creatures
 */
.library-creatures #middle-column {
	.inner-box {
		display: inline-block;
	}

	.monster {
		margin-left: 5px;
		font-size: 12px;
		margin-top: 5px;
		height: 100px;
		width: 100px;
		float: left;

		.title {
			text-align: center;
			word-break: normal;
			margin: 0px;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}
}

/**
 * The following styles were written with the subsequent route in mind,
 * although are not necessarily limited to it.
 *
 * @route  /library/maps
 */
.library-maps {
	.download-small-map {
		margin-bottom: 5px;
		text-align: center;
		margin-top: 5px;
	}

	img.map-small {
		margin-top: 30px;
		display: block;
		margin: 0 auto;
		height: 762px;
		width: 659px;
	}

	.top-text {
		padding: 5px;
	}

	.block {
		margin-left: 26px;
		margin-top: 11px;

		.title {
			font-weight: bold;
			font-size: 13.3px;
		}

		li {
			font-size: 13.3px;
			margin-left: 10px;
			line-height: 17px;
			list-style: none;
		}
	}
}
