
.library-creatures {

	.inner-box {
		display:inline-block;
	}

	.monster {

		height:100px;
		width:100px;
		float:left;
		margin-left:5px;
		margin-top:5px;

		.title {
			text-align: center;
			word-break: normal;
			margin:0px;
		}

		img {
			display:block;
			margin: 0 auto;
		}

	}

}