html {
	min-width: 1000px;
}

body {
	background: url('../img/background-artwork.jpg') no-repeat top center #051122;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	overflow-y: scroll;
	font-size: 13px;
	margin: 0;
}

a {
	font-family: Verdana, Arial, 'Times New Roman', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #004294;

	&:hover {
		text-decoration: underline;
	}

	img {
		border: none;
	}
}

h1 {
	font-family: Verdana, Arial, 'Times New Roman', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin: 16px 0;
	color: #5a2800;
}

h2 {
	font-family: Verdana, Arial, 'Times New Roman', sans-serif;
	margin: -6px 0 28px;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	color: #5a2800;

	&:before {
		content: url('../img/headline-bracer-left.gif');
		position: relative;
		height: 41px;
		width: 46px;
		left: -4px;
		top: 14px;
	}

	&:after {
		content: url('../img/headline-bracer-right.gif');
		position: relative;
		height: 41px;
		width: 46px;
		right: -4px;
		top: 14px;
	}
}

h4 {
	font-size: 18.6px;
	font-weight: bold;
	margin: 0;
}

.offline,
.red,
.free {
	color: #ef0000;
}

.medium-button {
	background: url('../img/medium-button.gif') no-repeat top left;
	text-align: center;
	line-height: 37px;
	overflow: hidden;
	margin: 0 0 2px;
	cursor: pointer;
	display: block;
	height: 37px;
	width: 150px;
	border: none;
	padding: 0;

	&:hover {
		background-position-y: -37px;
	}
}

.green-button,
.blue-button,
.red-button {
	background: url('../img/sbutton_green.gif') no-repeat top left;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	overflow: hidden;
	margin: 0 0 2px;
	cursor: pointer;
	height: 25px;
	width: 135px;
	border: none;
	padding: 0;

	&:hover {
		background-position-y: -25px;

		img {
			margin: 1px 0 0 1px;
		}
	}
}

.blue-button {
	background-image: url('../img/sbutton_blue.gif');
}

.red-button {
	background-image: url('../img/sbutton_red.gif');
}

.play-button {
	background: url('../img/play-button.gif') no-repeat top left;
	text-align: center;
	line-height: 46px;
	cursor: pointer;
	display: block;
	border: none;
	height: 46px;
	width: 46px;
	padding: 0;
	margin: 0;

	&:hover {
		background-position-y: -46px;
	}
}

.error {
	color: #ed1111;
}

.padding {
	padding: 10px;
}

.errors,
.notification {
	font-family: Verdana, Arial, 'Times New Roman', sans-serif;
	background-color: #d4c0a1;
	margin: 6px 6px 16px;
	position: relative;
	font-size: 13.3px;
	min-height: 24px;
	padding: 8px 5px;

	&.errors {
		padding-left: 42px;
		font-size: 10.6px;
		color: #ed1111;
	}

	h5 {
		font-weight: bold;
		font-size: 10.6px;
		padding: 0;
		margin: 0;
	}

	.sign {
		background: url('../img/attentionsign.gif');
		position: absolute;
		height: 26px;
		width: 30px;
		left: 7px;
		top: 6px;
	}

	&:before {
		background: url('../img/box-frame-vertical.gif');
		position: absolute;
		content: '';
		width: 3px;
		left: -1px;
		bottom: 0;
		top: 0;
	}

	&:after {
		background: url('../img/box-frame-vertical.gif');
		position: absolute;
		content: '';
		right: -1px;
		width: 3px;
		bottom: 0;
		top: 0;
	}

	& > .borders {
		&:before {
			background: url('../img/table-headline-border.gif');
			position: absolute;
			content: '';
			height: 4px;
			top: -1px;
			right: 0;
			left: 0;
		}

		&:after {
			background: url('../img/table-headline-border.gif');
			position: absolute;
			bottom: -1px;
			content: '';
			height: 4px;
			right: 0;
			left: 0;
		}

		& > .edges {
			&.top {
				&:before {
					background: url('../img/box-frame-edge.gif');
					position: absolute;
					content: '';
					height: 5px;
					width: 5px;
					left: -2px;
					top: -2px;
				}

				&:after {
					background: url('../img/box-frame-edge.gif');
					position: absolute;
					content: '';
					height: 5px;
					right: -2px;
					width: 5px;
					top: -2px;
				}
			}

			&.bottom {
				&:before {
					background: url('../img/box-frame-edge.gif');
					position: absolute;
					bottom: -2px;
					content: '';
					height: 5px;
					width: 5px;
					left: -2px;
				}

				&:after {
					background: url('../img/box-frame-edge.gif');
					position: absolute;
					bottom: -2px;
					content: '';
					height: 5px;
					right: -2px;
					width: 5px;
				}
			}
		}
	}
}

#skeleton {
	margin: 156px auto 20px;
	max-width: 1200px;
	min-width: 1080px;
	display: block;
	clear: both;

	.column {
		position: relative;
		display: block;

		&#left-column {
			margin: 0 15px;
			width: 180px;
			float: left;
		}

		&#middle-column {
			margin: 0 210px;
		}

		&#right-column {
			margin: 0 15px;
			width: 180px;
			float: right;
		}
	}
}
