#left-column {
	position: relative;

	#logo-artwork {
		background: url('../img/tibia-logo-artwork-top.gif');
		position: absolute;
		display: block;
		height: 158px;
		width: 196px;
		top: -158px;
		left: -10px;
		z-index: 3;
	}

	.box {
		margin: 7px 8px 34px;
		position: relative;
		width: 164px;

		&:before {
			content: url('../img/box-top.gif');
			position: absolute;
			height: 12px;
			width: 180px;
			top: -13px;
			left: -8px;
			z-index: 2;
		}

		&:after {
			content: url('../img/box-bottom.gif');
			position: absolute;
			bottom: -11px;
			height: 12px;
			width: 180px;
			right: -8px;
			z-index: 2;
		}

		.inner-box {
			background: url('../img/loginbox-textfield-background.gif') repeat top left;
			display: inline-block;
			position: relative;
			margin: 0 0 0 1px;
			width: 162px;

			&:before {
				background: url('../img/chain.gif') repeat;
				position: absolute;
				content: '';
				width: 7px;
				left: -4px;
				top: -4px;
				bottom: 0;
			}

			&:after {
				background: url('../img/chain.gif') repeat;
				position: absolute;
				content: '';
				right: -4px;
				width: 7px;
				top: -4px;
				bottom: 0;
			}
		}
	}

	.box#login-box {
		.medium-button {
			background: url('../img/medium-button.gif') no-repeat top left;
			text-align: center;
			margin: 1px auto 0;
			line-height: 37px;
			display: block;
			height: 37px;
			width: 150px;

			&:hover {
				background-position-y: -37px;
			}
		}

		.create-account {
			background: url('../img/loginbox-font-create-account.gif') no-repeat top left;
			margin: 2px auto 1px;
			display: block;
			height: 11px;
			width: 124px;

			&:hover {
				background-position-y: -11px;
			}
		}
	}

	.box#navigation .inner-box {
		background: #0d2e2b;
		list-style: none;
		color: #fff;
		padding: 0;

		.navigation-item {
			margin: 0 0 0 -1px;
			padding: 0;

			&.open {
				.navigation-content {
					display: block;
				}
				
				.navigation-button .light {
					display: none;

					&.bottom-right {
						background-image: url('../img/minus.gif');
						display: block;
					}
				}
			}

			.navigation-button {
				background: url('../img/button-background.gif') no-repeat top left;
				position: relative;
				cursor: pointer;
				margin: 0 -3px;
				outline: none;
				border: none;
				height: 32px;
				width: 170px;
				padding: 0;
				z-index: 2;

				&:hover {
					background-position-y: -32px;
				}

				.light {
					background: url('../img/green-light.gif') no-repeat;
					position: absolute;
					display: block;
					height: 2px;
					width: 2px;

					&.top-left {
						left: 3px;
						top: 2px;
					}

					&.top-right {
						right: 3px;
						top: 2px;
					}

					&.bottom-left {
						bottom: 2px;
						left: 3px;
					}

					&.bottom-right {
						background-image: url('../img/plus.gif');
						height: 12px;
						width: 12px;
						right: -2px;
						bottom: 0;
					}
				}
			}

			.navigation-content {
				display: none;
				padding: 0;
				margin: 0;

				& > ul {
					list-style: none;
					padding: 0;
					margin: 0;

					& > li {
						padding: 0;
						margin: 0;

						& > a {
							border-bottom: 1px solid #4b7874;
							font-family: Arial, sans-serif;
							padding: 2px 0 2px 17px;
							text-decoration: none;
							font-weight: bold;
							line-height: 16px;
							font-size: 13px;
							display: block;
							color: #d7d7d7;

							&:hover {
								background-color: #14433f;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}
